@{
    ViewData["Title"] = "Entregas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
<link href="~/css/entrega.css" rel="stylesheet" />

<div class="pagina-entregas">
    <div class="entregas">
        <div class="bloco bloco-esquerda">
            <h2 class="titulo">Pedido Online</h2>
            <p class="texto">
                Faça seu pedido facilmente através do nosso site ou app mobile. Navegue pelo nosso catálogo de produtos frescos, escolha seus favoritos e finalize a compra com apenas alguns cliques.
            </p>
            <h2 class="titulo">Preparação do Pedido</h2>
            <p class="texto">
                Assim que seu pedido é recebido, nossa equipe começa a preparar tudo. Os vegetais e frutas são colhidos, embalados e preparados para entrega no mesmo dia.
            </p>
            <h2 class="titulo">Entrega Rápida</h2>
            <p class="texto">
                Nossa rede de entregadores está estrategicamente posicionada para garantir uma entrega rápida e eficiente.
            </p>
        </div>
        <div class="bloco bloco-direita">
            <h2 class="titulo">Como funciona a Entrega da Raízes Urbana?</h2>
            <p class="texto">
                Na Raízes Urbana, levamos a frescura da fazenda diretamente para a sua mesa, garantindo que você receba os melhores produtos no menor tempo possível. Nosso serviço de entrega é projetado para ser rápido, eficiente e sustentável, para que você possa desfrutar dos vegetais e frutas mais frescos com a conveniência que você merece.
            </p>
            <h2 class="titulo">Benefícios da Nossa Entrega:</h2>
            <p class="texto">
                <strong>Frescor Garantido:</strong> Produtos colhidos e entregues no mesmo dia. <br><br>
                <strong>Conveniência:</strong> Pedido fácil e rápido através do site ou app. <br><br>
                <strong>Suporte:</strong> Atendimento ao cliente dedicado para garantir sua satisfação.
            </p>
        </div>
    </div>
</div>
