@{
    ViewData["Title"] = "Sobre Nós";
}

<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
<link href="~/css/sobrenos.css" rel="stylesheet" />

<div class="sobre-nos">
    <div class="bloco bloco-esquerda">
        <h2 class="titulo">Missão</h2>
        <p class="texto">
            Ser a referência em agricultura urbana sustentável, proporcionando alimentos frescos, saudáveis e acessíveis para a comunidade, ao mesmo tempo que promovemos a preservação do meio ambiente e o bem-estar social.
        </p>
        <h2 class="titulo">Visão</h2>
        <p class="texto">
            Transformar as cidades em oásis de agricultura urbana, inspirando um futuro mais verde, saudável e próspero para todos.
        </p>
    </div>
    <div class="bloco bloco-direita">
        <h2 class="titulo">Valores</h2>
        <p class="texto">
            • Sustentabilidade: Respeitamos o meio ambiente e utilizamos práticas agrícolas que minimizam o impacto ambiental, promovendo a biodiversidade e a preservação dos recursos naturais. <br><br>
            • Qualidade: Priorizamos a qualidade dos nossos produtos, desde a seleção das sementes até a colheita e entrega, oferecendo alimentos frescos, nutritivos e livres de agrotóxicos. <br><br>
            • Acessibilidade: Acreditamos que alimentação saudável deve ser um direito de todos, por isso buscamos tornar nossos produtos acessíveis à comunidade, com preços justos e diversificadas formas de pagamento.
        </p>
    </div>
</div>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
